[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=org.harbour.obdfish
Exec=/usr/bin/org.harbour.obdfish
Name=OBDFish
Name[de]=OBDFish

[X-Sailjail]
Permissions=Bluetooth
OrganizationName=org.harbour
ApplicationName=obdfish
